:root {
    --white: #FFFFFF;
    --white-light: #F1F1F1;
    --gray: #BEBEBE;
    --gray-light: #A7A7A7;
    --gray-dark: #838383;
    --black: #000000;
    --green-dark: #134311;
    --green-light: #257B36;
    --yellow: #FCC802;
    --yellow-light: #C79F00;
    --yellow-dark: #876A00;
}