@import url("root.css");

/* Início - home */
#home {
    scroll-margin-top: 109px;
    margin-top: 109px;
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("assets/img/servico-desentupimento-completo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#home .container-fluid,
#results .container-fluid,
#aboutUs .container-fluid,
#services .container-fluid,
#reviews .container-fluid,
#contact .container-fluid {
    display: flex;
    width: 90%;
    max-width: 1320px;
    align-items: center;
    justify-content: space-between;
    padding: 38px 0;
    margin: 0 auto;
}

#home .container-fluid .left-side,
#aboutUs .container-fluid .right-side {
    display: flex;
    width: 50%;
}

#home .container-fluid .left-side article {
    margin: auto
}

#home .container-fluid .left-side article h2 {
    font-size: 44px;
    font-weight: 800;
    line-height: 1.2;
    color: var(--white);
    margin-bottom: 12px;
}

#home .container-fluid .left-side article p {
    font-size: 22px;
    line-height: 1.5;
    color: var(--white);
    margin-bottom: 20px;
}

#home .container-fluid .left-side article a {
    text-decoration: none;
}

#home .container-fluid .left-side article a button {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 36px;
    border: none;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--yellow-light);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

#home .container-fluid .left-side article a button:hover {
    background-color: var(--yellow-dark);
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#home .container-fluid .right-side {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

#home .container-fluid .right-side img {
    width: 100%;
    border-radius: 100%;
    border: 12px solid var(--yellow);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
}

#home .container-fluid .right-side img:hover {
    transform: scale(1.01);
    box-shadow: 4px 4px 12px rgba(218, 198, 18, 0.5);
}

/* Resultados - results */
#results {
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    background-color: var(--white);
}

#results .container-fluid {
    padding: 0;
}

#results .container-fluid .row .col {
    padding: 38px 20px;
    text-align: center;
}

#results .container-fluid .row .col:nth-child(2) {
    border-left: 2px solid var(--gray);
    border-right: 2px solid var(--gray);
}

#results .container-fluid .row .col h2 {
    font-weight: bold;
}

#results .container-fluid .row .col h2 i {
    margin-left: 15px;
}

/* Quem somos - about us */
#aboutUs {
    scroll-margin-top: 109px;
    padding: 18px 0;
    border-bottom: 1px solid var(--gray);
    background-color: var(--white);
}

#aboutUs .container-fluid .left-side {
    width: 44%;
}

#aboutUs .container-fluid .left-side img {
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--gray);
    transition: 0.3s ease-in-out;
}

#aboutUs .container-fluid .left-side img:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

#aboutUs .container-fluid .right-side article h2 {
    font-weight: bold;
}

/* Nossos serviços - services */
#services {
    scroll-margin-top: 109px;
    padding: 18px 0;
    border-bottom: 1px solid var(--gray);
    background-color: var(--green-dark);
}

#services .container-fluid {
    display: block;
}

#services .container-fluid h2 {
    font-weight: bold;
    color: var(--white);
}

#services .container-fluid p:not(#services-list p) {
    color: var(--white);
}

#services .container-fluid #services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
}

#services .container-fluid #services-list .service {
    flex: 0 0 calc(33.3333% - 16px);
    padding: 12px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    background-color: var(--white);
    transition: 0.3s ease-in-out;
}

#services .container-fluid #services-list .service:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(72, 173, 0, 0.5);
}

#services .container-fluid #services-list .service img {
    width: 100%;
    height: 250px;
    border: 1px solid var(--gray);
}

#services .container-fluid #services-list .service h4 {
    margin: 6px 0;
}

/* Depoimentos - reviews */
#reviews {
    scroll-margin-top: 109px;
    padding: 18px 0;
    border-bottom: 1px solid var(--gray);
    background-color: var(--white);
}

#reviews .container-fluid {
    display: block;
}

#reviews .container-fluid h2 {
    font-weight: bold;
    text-align: center;
}

#reviews .container-fluid p:not(#reviews-list p) {
    text-align: center;
}

#reviews .container-fluid #reviews-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
}

#reviews .container-fluid #reviews-list .review {
    display: flex;
    justify-content: space-between;
    flex: 0 0 calc(50% - 16px);
    padding: 20px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    background-color: var(--white);
    transition: 0.3s ease-in-out;
}

#reviews .container-fluid #reviews-list .review:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

#reviews .container-fluid #reviews-list .review .left-side {
    width: 30%;
}

#reviews .container-fluid #reviews-list .review .left-side img {
    width: 100%;
    height: 190px;
    border-radius: 100%;
    border: 2px solid var(--gray);
}

#reviews .container-fluid #reviews-list .review .right-side {
    width: 65%;
}

#reviews .container-fluid #reviews-list .review .right-side article h4 {
    display: flex;
    font-weight: bold;
}

#reviews .container-fluid #reviews-list .review .right-side article h4 i {
    color: var(--yellow);
}

#reviews .container-fluid #reviews-list .review .right-side article h4 i:first-of-type {
    margin-left: auto;
}

#reviews .container-fluid #reviews-list .review .right-side article h4 i:not(:first-of-type) {
    margin-left: 6px;
}

#reviews .container-fluid #reviews-list .review .right-side article p {
    margin: 0;
}

#reviews .container-fluid #reviews-list .review .right-side article p:nth-child(2),
#reviews .container-fluid #reviews-list .review .right-side article p:nth-child(4) {
    margin-top: 14px;
}

/* Fale conosco - contact us */
#contact {
    scroll-margin-top: 109px;
    padding: 18px 0;
    background-color: var(--white);
}

#contact .container-fluid {
    align-items: stretch;
    gap: 1.5%;
}

#contact .container-fluid .left-side {
    display: flex;
    width: 40%;
}

#contact .container-fluid .left-side img {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid var(--gray);
    transition: 0.3s ease-in-out;
}

#contact .container-fluid .left-side img:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

#contact .container-fluid .right-side {
    width: 58%;
}

#contact .container-fluid .right-side .form {
    width: 100%;
    padding: 40px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(162, 162, 162, 0.5);
}

#contact .container-fluid .right-side .form h2 {
    font-weight: bold;
}

#contact .container-fluid .right-side .form p {
    margin-bottom: 20px;
}

#contact .container-fluid .right-side .form .row {
    margin-bottom: 12px;
}

#contact .container-fluid .right-side .form button {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 36px;
    margin-top: 16px;
    border: none;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--yellow-light);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

#contact .container-fluid .right-side .form button:disabled {
    background-color: var(--yellow-light);
    opacity: 0.6;
    cursor: not-allowed;
    filter: grayscale(40%);
}

#contact .container-fluid .right-side .form button:not(:disabled):hover {
    background-color: var(--yellow-dark);
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

textarea {
    resize: none;
}

/* Ícone WhatsApp - go to WhatsApp */
#goToWhatsApp img {
    display: flex;
    position: fixed;
    z-index: 1030;
    width: 70px;
    height: 70px;
    bottom: 10px;
    right: 10px;
    border-radius: 16px;
    transition: 0.3s ease-in-out;
}

#goToWhatsApp img:hover {
    transform: scale(1.03);
    box-shadow: rgba(112, 255, 16, 0.578) 0 2px 8px;
}

/* Responsividade */
@media (max-width: 1310px) {
    #contact .container-fluid .right-side .form .row {
        display: block;
    }

    #contact .container-fluid .right-side .form .row .col {
        margin-bottom: 12px;
    }
}

@media (max-width: 1300px) {
    #aboutUs .container-fluid .left-side {
        width: 46%;
    }

    #aboutUs .container-fluid .right-side {
        width: 50%;
    }

    #reviews .container-fluid #reviews-list .review {
        display: block;
    }

    #reviews .container-fluid #reviews-list .review .left-side {
        width: 100%;
        margin: auto;
    }

    #reviews .container-fluid #reviews-list .review .left-side img {
        width: 100%;
        height: 300px;
        margin-bottom: 12px;
        border-radius: 0;
        border: 2px solid var(--gray);
    }

    #reviews .container-fluid #reviews-list .review .right-side {
        width: 100%;
    }
}

@media (max-width: 1256px) {
    #aboutUs .container-fluid {
        display: block;
    }
    
    #aboutUs .container-fluid .left-side,
    #aboutUs .container-fluid .right-side,
    #aboutUs .container-fluid .left-side img {
        width: 100%;
    }
    
    #aboutUs .container-fluid .left-side {
        margin-bottom: 14px;
    }
}

@media (max-width: 1200px) {
    #services .container-fluid #services-list .service {
        flex: 0 0 calc(50% - 16px);
    }

    #reviews .container-fluid #reviews-list .review {
        padding: 12px;
    }

    #contact .container-fluid .right-side .form {
        padding: 18px;
    }
}

@media (max-width: 1024px) {
    #home .container-fluid .left-side article h2,
    h2 {
        font-size: 32px;
    }

    #home p,
    p {
        font-size: 16px;
    }

    #contact .container-fluid .right-side {
        width: 62%;
    }
}

@media (max-width: 991.9px) {
    #home {
        margin-top: 77px;
    }
}

@media screen and (max-width: 940px) {
    #home .container-fluid .left-side article h2,
    h2 {
        font-size: 26px;
    }
}

@media screen and (max-width: 900px) {
    #reviews .container-fluid #reviews-list .review .right-side h4 {
        font-size: 19px;
    }
}


@media screen and (max-width: 805px) {
    #home .container-fluid .left-side article h2,
    h2 {
        font-size: 24px;
    }

    #home .container-fluid .left-side article a button {
        font-size: 18px;
        padding: 14px 30px;
    }
}


@media (max-width: 768px) {
    #home {
        margin-top: 77px;
    }

    #home .container-fluid {
        flex-direction: column;
    }

    #home .container-fluid .left-side {
        width: 100%;
        order: 2;
        margin-top: 34px;
    }

    #home .container-fluid .left-side article h2,
    h2 {
        font-size: 32px;
    }

    #home .container-fluid .left-side article {
        width: 96%;
        text-align: center;
    }

    #home .container-fluid .left-side article button {
        width: 90%;
        font-size: 20px;
        padding: 20px 36px;
    }

    #home .container-fluid .right-side {
        order: 1;
        display: flex;
        width: 100%;
        margin-top: 0;
    }

    #home .container-fluid .right-side img {
        max-width: 440px;
        margin: auto;
    }

    #results .container-fluid .row {
        display: block;
    }

    #results .container-fluid .row .col:nth-child(2) {
        border-top: 1px solid var(--gray);
        border-bottom: 1px solid var(--gray);
        border-left: 0;
        border-right: 0;
    }
    
    #reviews .container-fluid #reviews-list .review {
        flex: 0 0 100%;
    }

    #reviews .container-fluid #reviews-list .review .left-side img {
        height: 330px;
    }

    #reviews .container-fluid #reviews-list .review .right-side h4 {
        font-size: 24px;
    }
    
    #contact .container-fluid .left-side {
        display: none;
    }
    
    #contact .container-fluid .right-side,
    #contact .container-fluid .right-side .form button {
        width: 100%;
    }
}

@media (max-width: 700px) {
    #services .container-fluid #services-list .service {
        flex: 0 0 100%;
    }
}

@media (max-width: 425.9px) {
    #home {
        margin-top: 109px;
    }

    #home .container-fluid {
        padding: 16px;
    }
    
    #home .container-fluid .left-side article h2,
    h2 {
        font-size: 24px;
    }
    
    #home p,
    p {
        font-size: 14px;
    }

    #home .container-fluid .left-side article button {
        width: 100%;
    }

    #reviews .container-fluid #reviews-list .review .right-side h4 {
        font-size: 19px;
    }
}

@media (max-width: 360px) {
    #reviews .container-fluid #reviews-list .review .right-side h4 {
        font-size: 17px;
    }

}
